{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
<form action="/auth/register" method="post">
    <label for="username">username</label>
    <input name="username" id="username" required>

    <label for="fname">first name</label>
    <input name="fname" id="fname" required>

    <label for="lname">last name</label>
    <input name="lname" id="lname" required>

    <label for="email">email</label>
    <input name="email" id="email" required>

    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>

    <input type="submit" value="Register">
</form>
{% endblock %}
